.signature-container {
    position: relative;
    background: linear-gradient(to bottom, #f0f0f0 60%, #759138 40%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto;
    width: 60%;
}

.signature--image {
    padding: 20px;
    width: 200px;
}

.signature-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.signature-information__heading {
    margin-bottom: 30px;
}

.signature-margin {
    margin: unset;
}

.signature--social-media {
    position: absolute;
    right: 20px;
    top: 20px;
}
